.header{
    width: 100%;
    font-family: 'IM Fell DW Pica SC', serif;
    top: 0;
    color: black;
    padding-top: 0.8em;
    text-align: left;
}
.techa{
    font-size: 1.5em;
}
.prop{
    font-size: 1.1em;
    color: #868686;

}

.head{
    color: whitesmoke;
    background-color: #5A41F3;
    width: 10px;
    height: 10px;
    align-self: flex-start;

}
#buttons{
    display: flex;
}
.button1{
    font-size: 1em;
    text-align: center;
    margin: auto;
    color: whitesmoke;
}
#but{
    display: inline-flex;
    align-items: center;
    line-height: 2em;
}
.photo{
    line-height: 0em;
}